* {
	box-sizing: border-box;
	transition: all .1s ease-in;
}

html, body{
	height: 100%;        
}
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	background: rgba(118,117,128,0.03);
	color: #c2c2c2;
}

main {
	margin: 50px auto;
	width: 80%;
	
}
form {
	position: relative;
	margin: 40px 0;
}

input {
	border: none;
}

input[type="text"] {
	font-size: 60px;
	font-weight: bold;
	background: rgba(250,250,250, .0);
	width: 90%;
	padding: 10px 15px;
	color: #000;

}

input[type="text"]:focus,
input[type="text"]:active {
	color: #ec5a62;
	outline: none;
}

input[type="submit"] {
	background: url('../img/magnifier.svg');
	position: absolute;
	top: 10px;
	right: 25px;	
	width: 70px;
	height: 70px;
	
}

::-webkit-input-placeholder {
	color: #c2c2c2;
}
::-moz-placeholder {
	color: #c2c2c2;
}
::-moz-placeholder {
	color: #c2c2c2;
}
:-ms-input-placeholder {
	color: #c2c2c2;
}

.for_list {
	font-size: 0;
}

.list {
	display: inline-block;	
	padding: 20px 15px;
	width: 33.3%;
	vertical-align: top;
}

h4 {
	font-size: 20px;	
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 16px;	
}

li {
	background-color: rgba(118,117,128,0.05);	
	border-radius: 5px;
	margin: 5px 0;
	height: 85px;
	/* overflow: hidden;  */
}

span, img {
	display: inline-block;
	vertical-align: middle;
}

span {
	padding-left: 15px;
	font-size: 16px;
	width: 80%;	
	max-height: 55px;
	overflow: hidden;
	/* position: absolute;
	top: 50%;
	margin-top: -0.625em; */

}

li a {
	text-decoration: none;
	color: #c2c2c2;
	display: block;
	height: 100%;
	padding: 15px;
	font-size: 0;
	/* position: relative; */
	/* height: 85px;
	overflow: hidden; */
}


li:hover,
li:focus,
li:active {
	background-color: rgba(118,117,128,0.3);
}

li:hover a,
li:focus a,
li:active a {
	
	color: #ec5a62;
}

.people img {	
	border-radius: 50%;
}

/* p {
	display: table-cell;
	vertical-align: middle;
	height: 55px;

} */